
RewriteEngine On
RewriteRule ^$ /src/home.php [L,QSA]
RewriteRule ^mi/perfil$ /src/perfil.php [L,QSA]
RewriteRule ^mi/acceso$ /config/login.php [L,QSA]
RewriteRule ^mi/cerrar_sesion$ /config/logout.php [L,QSA]

# Products
RewriteRule ^([^/]+)$ /src/home.php?category=&_=$1 [L,QSA]
RewriteRule ^category/([^/]+)/([^/]+)$ /src/home.php?category=$1&_=$2 [L,QSA]
RewriteRule ^product/([^/]+)/([^/]+)$ /src/product.php?id=$1&_=$2 [L,QSA]

#Cart
RewriteRule ^c/cart/add$ /config/agregar_cart.php [L,QSA]
RewriteRule ^c/cart/products$ /config/cart.php [L,QSA]
RewriteRule ^c/data/products$ /components/product.php [L,QSA]
RewriteRule ^c/cart/eliminar_data_cart$ /config/eliminar_data_cart.php [L,QSA]



#admin
RewriteRule ^admin/panel$ /dist/panel.php [L,QSA]
RewriteRule ^admin/productos$ /dist/productos.php [L,QSA]
RewriteRule ^admin/categorias$ /dist/categorias.php [L,QSA]
RewriteRule ^admin/pedidos$ /dist/pedidos.php [L,QSA]
RewriteRule ^admin/clientes$ /dist/clientes.php [L,QSA]
RewriteRule ^admin/cms$ /dist/cms.php [L,QSA]
RewriteRule ^admin/comentarios$ /dist/comentarios.php [L,QSA]
RewriteRule ^admin/configuracion$ /dist/configuracion.php [L,QSA]

RewriteRule ^admin/inf/productos$ /dist/inf_productos.php [L,QSA]
